#session{
    width: 100%;
   
}
.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.contentsss {
    display: flex;
    gap: 10px; 
}

.body-left{
    width: 30%;
    float: left;
}
.content-icon {
    display: flex;
    align-items: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    max-width: 450px;
    margin: 10px auto;
    background-color: #f9f9f9;
}

.avt {
    margin-right: 15px;
}

.avt img {
    width: 50px;
    height: auto;
}

.name {
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.name strong,
.name a {
    margin: 5px 0; 
   
}

.content-icon a {
    text-decoration: none;
   
}

a:hover {
    text-decoration: none;
}

.menu_profile {
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
    max-width: 450px;
    margin: 10px auto;
}

.item_menu_profile {
    text-decoration: none;
    color: #333;
    padding: 10px;
    font-size: 16px;
}

.item_menu_profile:hover {
    background-color: #e0e0e0;
}

.item_menu_profile.active {
    font-weight: bold;
    color: orange;
}
.body-right{
    width: 70%;
    float: right;
}
.content-right{
    height: 300px;
    background-color: #fff;
    margin: 10px 0 0 10px;
}
.body-l{
    padding: 20px;
    margin: 0 20px 0 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.edit-link{
    float: right;
    margin-top: 10px;
}
.body-text{
    margin: 0 20px 0 20px;
    border-radius: 5px;
}
#user-name {
    font-size: 16px;
}

#user-email {
    font-size: 14px;
    color: #666;
    margin-top: 5px;
}

.edit-link {
    text-decoration: none;
    color: #006400;
    margin-left: auto;
}

.edit-link:hover {
    text-decoration: underline;
}

.newsletter-options {
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-top: 20px;
    display: flex;
    align-items: flex-start; /* Căn chỉnh phần tử con ở đầu */
    justify-content: space-between; /* Đẩy nút sang bên phải */
}

.newsletter-options div {
    display: flex;
    flex-direction: column; /* Đặt các phần tử con theo cột */
}

.newsletter-options label {
    font-size: 16px;
    display: flex;
    align-items: center;
}

.save-btn {
    background-color: #006400;
    color: #fff;
    padding: 8px 16px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-left: 10px; /* Thêm khoảng cách giữa nút và chữ */
}

.save-btn:hover {
    background-color: #004d00;
}


.bolded {
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
}
.breadcrumb {
    margin-top: 20px;
    
    background-color: #F2F1F6 ;
}
.breadcrumb a{
    text-decoration: none;
    color: #B5B5B5;
  

}